<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connstring>
    Server=10.10.15.210;Initial Catalog=DCENTER;User ID=sa;Password= f34-8859
  </connstring>
  <x_connstring>
    Server=192.168.201.60;Initial Catalog=DCENTER;User ID=sa;Password= admin@1234
  </x_connstring>
  
  <window_caption>
    EDI伝票検索
  </window_caption>
  <list_row_count>
    25
  </list_row_count>
  <post_param>
    <menu_url>
      URL_Kaya030_DC_Menu_default
    </menu_url>
  </post_param>
</configuration>
